[advisories]
ignore = [
	# Coming from outdated libp2p and litep2p dependencies from which
	# some Polkadot libraries are dependent on. They will be updated
	# once we update Polkadot packages to latest version
	"RUSTSEC-2024-0336",
	"RUSTSEC-2024-0421",
	"RUSTSEC-2025-0009",
	"RUSTSEC-2024-0363", # Maybe we should fix the sqlx dependency in our frontier branch
	# The next two coming from outdated wasmtime dependency from wich polkadot
	# and substrate crates are dependent on. Unfortunally seams that also the
	# newver versions still depend from the same wasmtime version.
	"RUSTSEC-2023-0091", # LOW severity
	"RUSTSEC-2024-0438", # Just affect Windows where devices are not fully sandboxed.
]
informational_warnings = ["unmaintained", "yanked"]

[output]
deny = ["unsound"]
quiet = false
show_tree = false
