services:
  bench:
    image: ${IMAGE:-zkv-env}:${TAG:-bench}
    build:
      context: ${SOURCE_ROOT?err_unset}
      dockerfile: ${DOCKER_FILE:-./docker/dockerfiles/vflow-node.Dockerfile}
      args:
        - PROFILE=${PROFILE:-production}
        - FEATURES=runtime-benchmarks
    entrypoint: [ "" ]
    container_name: bench
    user: "${USER_ID:-0}:${GROUP_ID:-0}"
    volumes:
      - "${SOURCE_ROOT?err_unset}:/data/benchmark:rw"
      - "${BENCH_BASE_PATH?err_unset}:${BENCH_BASE_PATH}:rw"
    blkio_config:
      device_read_iops:
        - path: "${DEVICE?err_unset}"
          rate: "${READ_IO?err_unset}"
      device_write_iops:
        - path: "${DEVICE?err_unset}"
          rate: "${WRITE_IO?err_unset}"
      device_read_bps:
        - path: "${DEVICE?err_unset}"
          rate: "${READ_BPS?err_unset}"
      device_write_bps:
        - path: "${DEVICE?err_unset}"
          rate: "${WRITE_BPS?err_unset}"
    cpuset: 0,2,4,6,8,10,12,14
